# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Lambda Layers
layers/**/python/


# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
venv/
env/

# AWS
response*.json

# IDE
.vscode/
.idea/
*.swp
